<ons-page id="recipe-detail" ng-controller="TroubleDetailController">

  <ons-toolbar>
    <div class="left">
      <ons-back-button>Back</ons-back-button>
    </div>
    <div class="center">食の知見（料理法）</div>
  </ons-toolbar>

  <ons-list modifier="inset" style="margin-top: 10px">
    <ons-list-item class="item">
      <ons-row>
        <ons-col width="60px">
          <div class="item-thum"></div>
        </ons-col>
        <ons-col>
          <header>
            <span class="item-title">{{data.name}}</span>
            <span class="item-label">食癒効果：{{data.effect}}</span>
          </header>
          <p class="item-desc">{{data.knowledge}}</p>
        </ons-col>
      </ons-row>
    </ons-list-item>

    <ons-list-item modifier="chevron" id="add-note-action" 
        ng-repeat="tag in data.tagList"
        ng-click="showRecipeDetailPage(tag)">
      <ons-icon icon="ion-chatboxes" fixed-width="true" style="color: #ccc"></ons-icon>
      {{tag.col_name}}
    </ons-list-item>
  </ons-list>

</ons-page>